 <!-- jqgrid -->
<link href="@Url.Content("~/Scripts/jqgrid/css/ui.jqgrid.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jqgrid/js/jquery.jqGrid.js")"></script>
<script src="@Url.Content("~/Scripts/jqgrid/js/i18n/grid.locale-en.js")"></script>

<table id="tableProject" class="grid"></table>
<div id="pagerProject" class="pager">
</div>